<div class="container pb-4 pl-0">
    <h1>All Productest</h1>
</div>


<table class="table">
  <thead>
    <tr class="bg-success">
      {{!-- <th class="text-center" scope="col">#</th> --}}
      <th class="text-center" scope="col">Title</th>
      <th class="text-center" scope="col">Price</th>
      <th class="text-center" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each product}}
    <tr>
      {{!-- <th class="text-center" scope="row">{{length}}</th> --}}
      <td class="text-left">{{title}}</td>
      <td class="text-center">{{price}}</td>
      <td class="text-center">

      <div class="d-flex justify-content-center"> 
         
        {{!-- <form action="/products/edit/{{_id}}?_method=PUT" method="POST">
          <input type="hidden" name="_method" value="PUT">
          <button type="submit" class="btn btn-primary mr-2">Edit</button>
        </form> --}}

        <div class="mr-2">  
          <a href="/products/edit/{{_id}}" type="button" class="btn btn-primary">Edit<a>
        </div>

        <a href="{{image.secure_url}}" target="_BLANK" type="button" class="btn btn-success mr-2">View Img</a>

       <form method="POST" action="/products/delete/{{_id}}?_method=DELETE">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger mr-2">Delete</button>
        </form>
      </div>  

      </td>
    </tr>
    {{/each}}
  </tbody>
</table>